@model BigSchool.ViewModels.CoursesViewModel

@{
    ViewBag.Title = "LecturerFollowing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LecturerFollowing</h2>

<div class="row">
    <ul class="course">
        @foreach (var course in Model.UpcommingCourses)
        {        <li>   
                    <div class="lecturer">
                        @course.Lecturer.Name
                       
                            <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>
                        
                    </div>

            </li>
        }
    </ul>
</div>